# Node
node_modules/
tech_job_listing/node_modules/

# Python / venv
JRenv/

# Editor / OS
.vscode/
.DS_Store

# env files
.env

# resume files for testing
recommender/RESUME.pdf
recommender/abc.pdf
resume_sample.pdf
sshu_res.pdf